@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.nav-link-current:active {
    border-color: #4d7441 #4d7441 rgb(255, 255, 255);
}

.nav-link-color {
    color: rgb(255, 255, 255);
    padding: .5rem 1rem;
}

.nav {
    padding-left: 14px;
}

.navbar-logo {
    height: 48px;
    vertical-align: middle;
}

.navbar-cs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.nav-font:hover,
.navbar-brand:focus {
    color: white;
}

.nav-bg-green {
    background-color: #4d7441;
}

.nav-font {
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: .5rem 1rem;
    font-size: 22px;
}

.nav-font-brand,
.nav-font-brand:hover {
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: .5rem 1rem;
    font-size: 22px;
}

.btn-font {
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.footer {
    background-color: #4d7441;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 64px;
    align-items: center;
}

.footerText {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 22px;
    align-items: center;
    padding: 17px 22px;
}

.center-img {
    width: 1000px;
    height: 635px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.center-drop {
    display: auto;
    align-items: center;
}

.btn-size {
    background-color: #4d7441;
    color: white;
    border: #4d7441;
    display: inline-block;
    padding: 6px 100px;
    border-width: 5px;
    vertical-align: middle;
    border-radius: 0.375rem;
}

.visionbox {
    background-color: gainsboro;
    margin: auto;
    text-align: center;
    width: Auto;
    height: 100px;
    border: hidden;
    border-radius: 5px
}

.aboutHeading {
    color: #4d7441;
}

.aboutsection {
    width: 540px;
    height: 100px;
    border: hidden;
    border-radius: 5px;
    background-color: gainsboro;
}