@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* .nav-link-current:active {
    border-color: #1c381e #1c381e rgb(255, 255, 255);
} */


/* .nav-link-color {
    color: rgb(255, 255, 255);
    padding: .5rem 1rem;
} */

.nav {
    padding-left: 14px;
}

.navbar-logo {
    height: 48px;
    vertical-align: middle;
}

.navbar-cs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.nav-font:hover,
.navbar-brand:focus {
    color: white;
}

.nav-bg-green {
    background-color: #1c381e;
}

.nav-font {
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: .5rem 1rem;
    font-size: 22px;
    text-decoration: none;
}

.nav-font:hover {
    text-decoration: underline;
}

.nav-font-brand {
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: .5rem 1rem;
    font-size: 22px;
    text-decoration: none;
}

.nav-font-brand:hover {
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: .5rem 1rem;
    font-size: 22px;
    text-decoration: underline;
}

.btn-font {
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
}

.footer {
    background-color: #1c381e;
    text-align: right;
    bottom: 0;
    left: 0 ;
    width: 100%;
    height: 64px;
    align-items: center;
}

.footerText {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 22px;
    align-items: center;
    padding: 17px 22px;
}

.center-img {
    width: 1000px;
    height: 635px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}

.center-drop {
    display: inline-block;
    align-items: center;
}

select {
    background-color: #1c381e;
    color: white;
    border: #1c381e;
    display: inline-block;
    padding: 6px 100px;
    border-width: 5px;
    vertical-align: middle;
    border-radius: 0.375rem;
}

.btn-size {
    background-color: #1c381e;
    color: white;
    border: #1c381e;
    display: inline-block;
    padding: 6px 100px;
    border-width: 5px;
    vertical-align: middle;
    border-radius: 0.375rem;
}

.visionbox {
    background-color: gainsboro;
    margin: auto;
    text-align: center;
    width: Auto;
    height: Auto;
    border: hidden;
    border-radius: 5px
}

.heading {
    color: #4d7441;
}

.section {
    width: 540px;
    height: auto;
    border: hidden;
    border-radius: 5px;
    background-color: gainsboro;
}

#map {
    height: 450px;
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.map-container {
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.p-visionbox {
    background-color: gainsboro;
    margin: auto;
    text-align: center;
    width: Auto;
    height: 176px;
    border: hidden;
    border-radius: 5px
}

.contactUsText {
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 22px;
    align-items: center;
    padding: 17px 22px;
}

.AIText {
    font-size: 25px;
}

.paddingtop {
    padding-top: 10px;
}

.privacyPolicyText {
    font-size: 20px;
}

.dataInfoText {
    font-size: 22px;
}

.profilepic {
    width: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.aboutText {
    font-size: 15px;
}

.visionText {
    font-size: 22px;
}

.ITvisionbox {
    background-color: gainsboro;
    margin: auto;
    text-align: center;
    width: Auto;
    height: auto;
    border: hidden;
    border-radius: 5px
}

.ITtext {
    font-size: 25px;
}

.linegraph {
    padding: 10px;
    width: 100%;
}

.hotspotsP {
    font-size: 25px;
}

h4 {
    text-align: center;
}

.avgtraffic {
    padding: 10px;
    width: 100%;
}

iframe {
    width: 1000px;
    height: 450px;
}

.ParkingMap {
    width: 1000px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: Auto;
    padding-bottom: Auto;
}

.content {
    padding-bottom: 25px;
}
#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4d7441;
    color: white;
  }